.card {
  padding: 1rem;
  border: #ccc 1px solid;
  margin: 0.7rem 0;
  text-align: center;
  transform: translateZ(0);
  transition: transform 0.25s ease-out;
}

.card:hover {
  transform: scale(1.05);
}

.card .avatar {
  border-radius: 50%;
  width: 100px;
}

.card button {
  background-color: white;
  border: solid 1px black;
  border-radius: 5px;
  font-size: 14px;
  padding: 8px 12px;
}

.card button:hover {
  cursor: pointer;
  background-color: rgb(235, 235, 235);
}

.card a {
  color: inherit;
  text-decoration: none;
}
