.header-container {
  background-color: #092e46;
  margin-bottom: 30px;
  padding: 20px 0;
  color: white;
}

.header-container .app-title {
  margin-top: 0;
  margin-bottom: 25px;
  font-size: 50px;
}

@media screen and (max-width: 570px) {
  .header-container .app-title {
    font-size: 40px;
  }
}
